body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(52, 43, 111);
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-top: 10px;
    font-size: 40px;
}

h2 {
    font-size: 40px;

}

.comodo {
    border: 3px solid #047a27;
    width: 200px;
    border-radius: 15px;
    margin-top: 10px;
}

.lampada {
    font-size: 80px;
    }

.button {
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #8b8585;
    border-radius: 16px;
}

.acesa{
    text-shadow: 1px 1px 45px rgb(253, 253, 252);


}